body {
    background-color: bisque;
}

div {
    height: 100px;
    width: 100px;
    background-color: teal;
    color: white;
    border: 2px solid darkslategray;
    border-radius: 10px;

    /* Center text */
    text-align: center;
    line-height: 100px;
    font-family: sans-serif;

    /* Transition effects */
    transition-property: all;
    transition-duration: 2s;
    transition-timing-function: ease-in;
    transition-delay: 1s;
}

div:hover {
    background-color: tomato;
    border-radius: 50%;
    margin-left: 200px;
    transform: rotate(360deg);
}